[user]
	name = Tony Park
	email = tony.park@datadoghq.com
[url "https://github.com/"]
	insteadOf = git://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	rebase = true
